.board-object{
    width: 2vw;
    min-width: 2vw;
    min-height: 2vw;
    text-align: center;
    font-weight: 400;
    font-size: 1vw;
    line-height: 2;
}

.board-column{
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
}

.board{
    display: flex;
    flex-direction: row;
}

.board-with-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-row{
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
}

